@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello NVM</h1>
    <p>Let's play with <a href="https://github.com/features/actions">GitHub Actions</a>.</p>
</div>
